 #####################################################################
#   Neopixel cotrol
####################################################################

[neopixel Chamber_lights]
pin: PB0                     # the diagnostic pin on the Octopus board it is connected to (BLTouch port - connector J43)
chain_count:50                  # The amount of neo pixels in the strip
color_order: GRB               # The type of neo pixel strip, e.g. RGBW GRB, RGB
initial_RED: 0.5                 # The next 4 values are for the color you want the lights to start up with. 
initial_GREEN: 0.5             # Setting all the lights to 0, will turn them off
initial_BLUE: 0.5
initial_WHITE: 0.0   



# [neopixel Status_leds]
# pin:                             # the diagnostic pin on the Octopus board it is connected to (BLTouch port - connector J43)
# chain_count:20                  # The amount of neo pixels in the strip
# color_order: RGB               # The type of neo pixel strip, e.g. RGBW GRB, RGB
# initial_RED: 0.5                 # The next 4 values are for the color you want the lights to start up with. 
# initial_GREEN: 0.5             # Setting all the lights to 0, will turn them off
# initial_BLUE: 0.5
# initial_WHITE: 0.0   
