[mcu]
##  Obtain definition by "ls -l /dev/serial/by-id/" then unplug to verify
##--------------------------------------------------------------------
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_18003F000D50535556323420-if00
restart_method: command
##--------------------------------------------------------------------


[include display.cfg]
[include macros.cfg]
[include leds.cfg]
[include led_progress.cfg]
[include z_motors.cfg]
[include fluidd.cfg]
[include toolhead.cfg]
[include bedfans.cfg]
[include clean_nozzle_macros.cfg]
[include XY_Motors.cfg]
#[include Blobifier.cfg]
[skew_correction]

[printer]
kinematics: limited_corexy
max_velocity: 600    
max_accel: 40000
max_z_velocity: 25          #Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 350
square_corner_velocity: 5.0
max_x_accel:40000
max_y_accel:30000
scale_xy_accel: true

[gcode_arcs]
resolution: .1

[exclude_object]

[virtual_sdcard]
path: ~/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[input_shaper]
shaper_freq_x: 123.6
shaper_freq_y: 95.8
shaper_type_x: ei
shaper_type_y: 2hump_ei



[resonance_tester]
accel_chip: beacon
probe_points: 150, 150, 20


[force_move]
enable_force_move: True

#####################################################################
#   X/Y Stepper Settings
#####################################################################

##  B Stepper - Left
##  Connected to MOTOR_0
##  Endstop connected to DIAG_0

##  A Stepper - Right
##  Connected to MOTOR_1
##  Endstop connected to DIAG_1

#####################################################################
#   Z Stepper Settings
#####################################################################

## Z0 Stepper - Front Left
##  Connected to MOTOR_2
##  Endstop connected to DIAG_2
[stepper_z]
step_pin: PF11
dir_pin: PG3
enable_pin: !PG5
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32
endstop_pin: probe:z_virtual_endstop # use beacon as virtual endstop
##  Z-position of nozzle (in mm) to z-endstop trigger point relative to print surface (Z0)
##  (+) value = endstop above Z0, (-) value = endstop below
##  Increasing position_endstop brings nozzle closer to the bed
##  After you run Z_ENDSTOP_CALIBRATE, position_endstop will be stored at the very end of your config
#position_endstop: -0.5
##--------------------------------------------------------------------

##  Uncomment below for 250mm build
#position_max: 210

##  Uncomment below for 300mm build
position_max: 255

##  Uncomment below for 350mm build
#position_max: 310

##--------------------------------------------------------------------
position_min: -5
homing_speed: 8
second_homing_speed: 3
homing_retract_dist: 0


#####################################################################
#   Bed Heater
#####################################################################

##  SSR Pin - HE1
##  Thermistor - TB
[heater_bed]
##  Uncomment the following line if using the default SSR wiring from the docs site
heater_pin: PA3
##  Other wiring guides may use BED_OUT to control the SSR. Uncomment the following line for those cases
#heater_pin: PA1
## Check what thermistor type you have. See https://www.klipper3d.org/Config_Reference.html#common-thermistors for common thermistor types.
## Use "Generic 3950" for Keenovo heaters
sensor_type:Generic 3950
sensor_pin: PF3
##  Adjust Max Power so your heater doesn't warp your bed. Rule of thumb is 0.4 watts / cm^2 .
max_power: 0.9
min_temp: 0
max_temp: 125
control: pid
pid_kp: 49.437
pid_ki: 3.447
pid_kd: 244.769


[temperature_sensor chamber]
sensor_type: Generic 3950
sensor_pin: PF4
min_temp: 0
max_temp: 100
gcode_id:C


[beacon]
serial: /dev/serial/by-id/usb-Beacon_Beacon_RevH_0E1FFE735154354D38202020FF0A153B-if00
x_offset: 0 # update with offset from nozzle on your machine
y_offset: 32 # update with offset from nozzle on your machine
mesh_main_direction: x
mesh_runs: 2
contact_max_hotend_temperature: 220 # increase to probe at print temps
home_xy_position: 150, 160 # update with your safe position
home_z_hop: 5
home_z_hop_speed: 30
home_xy_move_speed: 200
home_method: contact # use proximity for induction homing
home_method_when_homed: proximity # after initial calibration use induction
home_autocalibrate: unhomed # contact will calibrate beacon on first home

[bed_mesh]
algorithm: bicubic
speed: 200
horizontal_move_z: 0
mesh_min: 35, 62
mesh_max: 265, 260
probe_count: 10, 10
zero_reference_position:150,150


##  Controller fan - FAN2
[controller_fan controller_fan2]
pin: PD15
kick_start_time: 0.5
heater: heater_bed


##  Controller fan - FAN2
[controller_fan controller_fan]
pin: PD12
kick_start_time: 0.5
heater: heater_bed

#  Exhaust fan - FAN3
[heater_fan exhaust_fan]
pin: PD13
max_power: 1.0
shutdown_speed: 0.0
kick_start_time: 5.0
heater: heater_bed

#####################################################################
#   LED Control
#####################################################################

## Chamber Lighting - HE2 Connector (Optional)
[output_pin caselight]
pin: PB10
pwm:true
shutdown_value: 0
value:1
cycle_time: 0.01

#####################################################################
#   Homing and Gantry Adjustment Routines
#####################################################################

[idle_timeout]
timeout: 80000

# [safe_z_home]
# home_xy_position: 150,150  # update for your machine
# z_hop: 3
# home_method: contact
# home_method_when_homed: proximity
# home_autocalibrate: unhomed


##  Use QUAD_GANTRY_LEVEL to level a gantry.
##  Min & Max gantry corners - measure from nozzle at MIN (0,0) and 
##  MAX (250, 250), (300,300), or (350,350) depending on your printer size
##  to respective belt positions
[quad_gantry_level]

#  Gantry Corners for 300mm Build
#  Uncomment for 300mm build
gantry_corners:
   -60,-10
   360,370
#  Probe points
points:
   40,10
   40,240
   260,240
   260,10

#--------------------------------------------------------------------
speed: 300
horizontal_move_z: 8
retries: 4
retry_tolerance: 0.0075
max_adjust: 30

########################################
# EXP1 / EXP2 (display) pins
########################################

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PE8, EXP1_2=PE7,
    EXP1_3=PE9, EXP1_4=PE10,
    EXP1_5=PE12, EXP1_6=PE13,    # Slot in the socket on this side
    EXP1_7=PE14, EXP1_8=PE15,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PA6, EXP2_2=PA5,
    EXP2_3=PB1, EXP2_4=PA4,
    EXP2_5=PB2, EXP2_6=PA7,      # Slot in the socket on this side
    EXP2_7=PC15, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=<5V>


#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [stepper_z]
#*# position_endstop = 0
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 21.439
#*# pid_ki = 1.832
#*# pid_kd = 62.709
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.131250, -0.128750, -0.152500
#*# 	-0.120000, -0.132500, -0.155000
#*# 	-0.123750, -0.127500, -0.158750
#*# x_count = 3
#*# y_count = 3
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 116.95
#*# max_x = 183.03
#*# min_y = 124.18
#*# max_y = 175.81

