[stepper_x]
step_pin: PF13
dir_pin: PF12
enable_pin: !PF14
rotation_distance: 32
microsteps: 16
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
endstop_pin:tmc2209_stepper_x:virtual_endstop
position_min: 0
position_endstop: 301
position_max: 301
homing_speed: 65 #Max 100
homing_retract_dist: 0
homing_positive_dir: true



[stepper_x1]
step_pin: PE6
dir_pin: PA14
enable_pin: !PE0
rotation_distance: 32
microsteps: 16
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
endstop_pin:tmc2209_stepper_x:virtual_endstop

# position_min: 0
# position_endstop: 298
# position_max: 298
# homing_speed: 80   #Max 100
# homing_retract_dist: 0
# homing_positive_dir: true



##  Make sure to update below for your relevant driver (2208 or 2209)


[stepper_y]
step_pin: PG0
dir_pin: PG1
enable_pin: !PF15
rotation_distance: 32
microsteps: 16
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
endstop_pin:tmc2209_stepper_y:virtual_endstop
position_min: 0
position_endstop: 305
position_max: 305
homing_speed: 80 #Max 100
homing_retract_dist: 0
homing_positive_dir: true



[stepper_y1]
step_pin: PE2
dir_pin: PE3
enable_pin: !PD4
rotation_distance: 32
microsteps: 16
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
endstop_pin:tmc2209_stepper_y:virtual_endstop
# position_min: 0
# position_endstop: 305
# position_max: 305
# homing_speed: 80  #Max 100
# homing_retract_dist: 0
# homing_positive_dir: true

##  Make sure to update below for your relevant driver (2208 or 2209)



##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_x]
uart_pin: PC4
interpolate: true
run_current: 1.9
hold_current: 1.2
sense_resistor: 0.110
stealthchop_threshold: 0
diag_pin: ^PG6
driver_SGTHRS: 55
home_current: 1.0
current_change_dwell_time: 0.5


[tmc2209 stepper_x1]
uart_pin: PD3
interpolate: true
run_current: 1.9
hold_current: 1.2
sense_resistor: 0.110
stealthchop_threshold: 0
home_current: 0.1
current_change_dwell_time: 0.2



##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_y]
uart_pin: PD11
interpolate: true
run_current: 1.9
hold_current: 1.0
sense_resistor: 0.110
stealthchop_threshold: 0
diag_pin: ^PG9
driver_SGTHRS:70
home_current: 1.1
current_change_dwell_time: 0.5




[tmc2209 stepper_y1]
uart_pin: PE1
interpolate: true
run_current: 1.9
hold_current: 1.0
sense_resistor: 0.110
stealthchop_threshold: 0
home_current: 0.1
current_change_dwell_time: 0.5





[autotune_tmc stepper_x]
motor: ldo-42sth48-2804ah
[autotune_tmc stepper_y]
motor: ldo-42sth48-2804ah
[autotune_tmc stepper_x1]
motor: ldo-42sth48-2804ah
[autotune_tmc stepper_y1]
motor: ldo-42sth48-2804ah
